<div>
  <div class="flex">
    <div id="first-half">
      <p class="thick">Fees & additional products</p>
      <div id="car-detail">
        <div id="car-detail-1">
          <img class="car-image" src="http://localhost:8080/images?fileName={{carInstance.imagepath}}">
          <p class="thick">BMW Series 5</p>
        </div>
        <div class="offers">
          <div id="stardard-offer" style="height: 130px;">
            <p id="stand-text" style="font-weight: bold; font-size: medium;">Standard Offer</p>
            <div class="flex" style="margin-top: 10px;">
              <p id="price" style="margin-left: 25px;">$200</p>
              <div id="content-text">
                <p id="content-1">Open km</p>
                <p id="content-1">Chargeless withdrawal within 24 hours of pick-up</p>
              </div>
            </div>
          </div>
          <div id="promo-offer" style="height: 150px;">
            <p id="stand-text" style="font-weight: bold; font-size: medium; color: rgb(61, 61, 61);">Promo Offer</p>
            <div class="flex" style="margin-top: 10px;">
              <p id="price" style="color: rgb(61, 61, 61); margin-left: 25px;">$200</p>
              <div id="content-text">
                <p id="content-1" style="color: rgb(61, 61, 61);">Aditional Daily Discount</p>
                <p id="content-1" style="color: rgb(61, 61, 61);">Open km</p>
                <p id="content-1" style="color: rgb(61, 61, 61);">Chargeless withdrawal within 24 hours of pick-up</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="extra-checks">
        <div id="check-text">
          <p style="margin-bottom: 0px;">Car Protection</p>
          <p style="margin-bottom: 0px;">$10/day</p>
        </div>
        <input type="checkbox" (click)="updateStatus()" id="checkbox" name="car-protection">
      </div>
      <div id="extra-checks">
        <div id="check-text">
          <p style="margin-bottom: 0px;">Full Protection</p>
          <p style="margin-bottom: 0px;">$20/day</p>
        </div>
        <input type="checkbox" id="checkbox" (click)="updateStatus()" name="full-protection">
      </div>
      <div id="extra-checks">
        <div id="check-text">
          <p style="margin-bottom: 0px;">Third Party Protection</p>
          <p style="margin-bottom: 0px;">$5/day</p>
        </div>
        <input type="checkbox" id="checkbox" (click)="updateStatus()" name="tp-protection">
      </div>
      <div id="extra-checks">
        <div id="check-text">
          <p style="margin-bottom: 0px;">Glass Protection</p>
          <p style="margin-bottom: 0px;">$2/day</p>
        </div>
        <input type="checkbox" id="checkbox" (click)="updateStatus()" name="glass-protection">
      </div>

    </div>

    <div id="Booking-sumary" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
      <div id="booking-top">
        <p class="thick" style="padding-top: 6%; color: white;">Booking Sumary</p>
      </div>
      <div id="info-1">
        <p class="thick">Withdrawal</p>
        <p>{{months[initialDate.getMonth()]}} {{initialDate.getUTCDate()}}, {{initialDate.getFullYear()}} at 8:00 am</p>
        <p id="texto-claro">{{booking.address}}</p>
      </div>
      <div id="info-2">
        <p class="thick">Devolution</p>
        <p>{{months[finalDate.getMonth()]}} {{finalDate.getUTCDate()}}, {{finalDate.getFullYear()}} at 8:00 am</p>
        <p id="texto-claro">{{booking.address}}</p>
      </div>
      <div id="info-2" style="margin-bottom:0">
        <p class="thick">Standard Offer</p>

        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="font-weight: bold; font-size: medium;" >Daily Fee</th>
              <th scope="col"></th>
              <th scope="col" id="value">${{bookingDuration * carRent}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{bookingDuration}} days x ${{carRent}}</td>
              <td></td>
              <td id="value"></td>
            </tr>
          </tbody>
        </table>

        <table class="table" *ngIf="extras">
          <thead>
            <tr>
              <th scope="col" style="font-weight: bold; font-size: medium;">Extras</th>
              <th scope="col"></th>
              <th scope="col" id="value">${{extrasValue}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="carProtection">
              <td>Car protection</td>
              <td></td>
              <td id="value">${{carProtectionValue}}</td>
            </tr>
            <tr *ngIf="fullProtection">
              <td>Full protection</td>
              <td></td>
              <td id="value">${{fullProtectionValue}}</td>
            </tr>
            <tr *ngIf="tpProtection">
              <td>Thirdy Party Protection</td>
              <td></td>
              <td id="value">${{tpProtectionValue}}</td>
            </tr>
            <tr *ngIf="glassProtection">
              <td>Full protection</td>
              <td></td>
              <td id="value">${{glassProtectionValue}}</td>
            </tr>
          </tbody>
        </table>

        <table class="table" id="final">
          <thead>
            <tr>
              <th scope="col">Total</th>
              <th scope="col"></th>
              <th scope="col" id="value">${{totalValue}}</th>
            </tr>
          </thead>
        </table>

        <div>
          <button class="btn btn-primary btn-block blue-btn thick" style="margin: 0px; margin-top: 12px; margin-bottom: 12px;">Pay</button>
        </div>
    </div>
  </div>