
  <div>


      <p id="Fees-text">Fees and Aditional</p>
      <div class="flex">
        <div id="first-half">
          <div id="car-detail">
            <div id="car-detail-1">
              <img class="car-image" src="assets/carro-bmw.png" >
              <p id="bmw-text">BMW Series 5</p>

            </div>
            <div class="offers">
              <div id="stardard-offer">
                <p id="stand-text">Standard Offer</p>
                <div class="flex">
                  <p id="price">$200</p>
                  <!-- <img class="checkmark" src="assets/check-image.png"  height="15" > -->
                  <div id="content-text">
                    <p id="content-1">Open km</p>
                    <p id="content-1">Chargeless withdrawal within 24 hours of pick-up</p>
                  </div>
                </div>
              </div>
              <div id="promo-offer">
                <p id="stand-text">Promo Offer</p>
                <div class="flex">
                  <p id="price">$200</p>
                  <div id="content-text">
                    <p id="content-1">Aditional Daily Discount</p>
                    <p id="content-1">Open km</p>
                    <p id="content-1">Chargeless withdrawal within 24 hours of pick-up</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="extra-checks">
            <div id="check-text">
              <p id="secure-text">Car Protection</p>
              <p>$10/day</p>
            </div>
            <input type="checkbox" (click)="updateStatus()" id="checkbox" name="car-protection">
          </div>
          <div id="extra-checks">
            <div id="check-text">
              <p id="secure-text" >Full Protection</p>
              <p>$20/day</p>
            </div>  
            <input type="checkbox" id="checkbox" (click)="updateStatus()" name="full-protection">        
          </div>
          <div id="extra-checks">
            <div id="check-text">
              <p id="secure-text">Third Party Protection</p>
              <p>$5/day</p>
            </div>
            <input type="checkbox" id="checkbox" (click)="updateStatus()" name="tp-protection">          
          </div>
          <div id="extra-checks">
            <div id="check-text">
              <p id="secure-text">Glass Protection</p>
              <p>$2/day</p>
            </div> 
            <input type="checkbox" id="checkbox" (click)="updateStatus()" name="glass-protection">         
          </div>

        </div>

          <div id="Booking-sumary">
            <div id="booking-top">
              <p id="booking">Booking Sumary</p>
            </div>
            <div id="info-1">
              <p id="subtitulo">Withdrawal</p>
              <p id="subtexto">September 24, 2022 at 8:00 am</p>
              <p id="texto-claro">Airport - Congonhas</p>
            </div>
            <div id="info-2">
              <p id="subtitulo">Devolution</p>
              <p id="subtexto">September 30, 2022 at 8:00 am</p>
              <p id="texto-claro">Airport - Congonhas</p>
            </div>
            <div id="info-2" style="margin-bottom:0">
                <p id="subtitulo">Standard Offer</p>
                <div id="no-margin-flex">
                  <div id="flex-column">
                    <div id="offer-info">
                      <p id="texto-claro2">Daily</p>
                      <p id="texto-claro2">{{bookingDuration}} x ${{carRent}}</p>
                    </div>
                    <div id="offer-info" *ngIf="extras">
                      <p id="texto-claro2">Extras</p>
                    </div>
                    <div id="offer-info" *ngIf="carProtection">
                      <p id="texto-claro2">Car protection</p>
                      <p id="texto-claro2">{{bookingDuration}} nights x $10</p>
                    </div>
                    <div id="offer-info" *ngIf="fullProtection">
                      <p id="texto-claro2">Full protection</p>
                      <p id="texto-claro2">{{bookingDuration}} nights x $10</p>
                    </div>
                    <div id="offer-info" *ngIf="tpProtection">
                      <p id="texto-claro2">Third Party protection</p>
                      <p id="texto-claro2">{{bookingDuration}} nights x $10</p>
                    </div>
                    <div id="offer-info" *ngIf="glassProtection">
                      <p id="texto-claro2">Glass protection</p>
                      <p id="texto-claro2">{{bookingDuration}} nights x $10</p>
                    </div>
                  </div>
                  <div id="flex-column">
                    <div id="offer-info">
                      <p id="texto-claro2">Total</p>
                      <p id="texto-claro2">${{totalValue}}</p>
                    </div>
                    
                    <div id="offer-info" *ngIf="extras">
                      <p id="texto-claro2" style="padding-top:30%">${{extrasValue}}</p>
                    </div>
                  </div>
                </div>
            </div>
              <div id="pay-button">
                <button type="submit" id="button">PAY</button>
            </div>
        </div>
      </div>

  </div>
  