<!-- Where do you want to pick up your car?-->
<form #dataGatheringForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group" style="margin-bottom: 30px; margin-top: 0px;">
        <input type="text" name="address" id="pick_up_address_input_id" class="form-control text-input" style="margin-bottom: 25px;" placeholder="Where do you want to pick up your car?" [(ngModel)]="bookingModel.address">
        <input type="text" name="text" class="form-control text-input" id="date_range_picker_id" style="margin-bottom: 25px;" placeholder="On which date do you want to pick up your car?">
    </div>
    <!-- Vehicle filter -->
    <div class="form-group" style="margin-bottom: 30px; margin-top: 30px;">
        <label class="form-label thick">Vehicle Type</label>
        <div class="form-group" *ngFor="let type of types">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vehicle_types" id="vehicle_type_{{ type }}" value="{{ type }}" [(ngModel)]="bookingModel.vehicle_type">
                <label for="vehicle_type_{{ type }}" class="form-check-label">{{ type }}</label>
            </div>
        </div>
    </div>
    
    <!-- Search button -->
    <button type="submit" class="btn btn-primary btn-block blue-btn" style="margin-left: 0px; margin-right: 0px;">Search</button>    
</form>

