<!-- Where do you want to pick up your car?-->
<div class="form-group">
    <input type="search" name="address" id="pick_up_address_input_id" class="form-control text-input" style="margin-bottom: 25px;" placeholder="Where do you want to pick up your car?">
    <input type="text" name="date" class="form-control text-input" style="margin-bottom: 25px;" placeholder="On which date do you want to pick up your car?">
</div>

<!-- Vehicle filter -->

<div class="form-group" style="margin-bottom: 30px; margin-top: 30px;">
    <label class="form-label thick"> Vehicle Type </label>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="vehicle_types" id="vehicle_type_luxury" value="luxury">
            <label for="vehicle_type_luxury" class="form-check-label thick">Luxury</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="vehicle_types" id="vehicle_type_premium" value="premium">
            <label for="vehicle_type_premium" class="form-check-label thick">Premium</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="vehicle_types" id="vehicle_type_economy" value="economy">
            <label for="vehicle_type_economy" class="form-check-label thick">Economy</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="vehicle_types" id="vehycle_type_supereconomy" value="super_economy">
            <label for="vehycle_type_supereconomy" class="form-check-label thick">Super Economy</label>
        </div>
    </div>
</div>

<!-- Search button -->
<a type="submit" class="btn btn-primary btn-block blue-btn" style="margin-left: 0px; margin-right: 0px;" href="/list">Search</a>
