#second-bar{
    background-color: #0074B7;
    height: 120px;
    width: auto;
    padding-top: 25px;
    padding-bottom: 0px;
    
}

.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid rgb(175, 175, 175);
    border-top: 2px solid rgb(175, 175, 175);
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid rgb(175, 175, 175);
    border-top: 2px solid rgb(175, 175, 175);
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(175, 175, 175);
    margin-bottom: 6px;
    color: white;
  }
  
  .stepper-item.active {
    font-weight: bold;
  }
  
  .stepper-item.completed .step-counter {
    background-color: #4bb543;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    border-top: 2px solid #4bb543;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }

  .checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:rgb(175, 175, 175);
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:rgb(175, 175, 175);
    left:8px;
    top:12px;
}

.edit {
  background-color: #0074B7;
  height: 25px;
  /* padding-left: 145px;
  padding-right: 145px; */
  padding-left: 11%;
  padding-right: 11%;

}
.edit-button{
  color:#4bb543;
  text-decoration: underline;
  cursor: pointer;
}
.apagado{
  color: #0074B7;
}

.step-name{
  color: white;
}