<div>

    <!-- Image and name -->
    <div style="text-align: center; margin-bottom: 40px;">
        <img src="http://localhost:8080/images?fileName={{carInstance.imagepath}}" alt="Car photo" height="10%" width="50%" style="border-radius: 10px;">
        <p class="card-text thick" style="font-size: 22px;">{{carInstance.make}} {{carInstance.model}}</p>
        <p class="card-text thick">${{carInstance.rent}}/day</p>
    </div>

    <!-- Atributes -->
    <div class="card-body" style="padding: 14px;">
        <div class="row  mt-2">
            <div class="col-xl-4 col-sm-4">
                <div class="card light-grey-container" style="height: 110px;">
                    <div class="card-body">
                        <p class="card-text thick">v10 {{carInstance.consumption}}L</p>
                        <p class="card-text thick">{{carInstance.horsepower}} hp</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="card light-grey-container" style="height: 110px;">
                    <div class="card-body">
                        <p class="card-text thick">{{carInstance.trunk}}L Trunk</p>
                        <p class="card-text thick">{{carInstance.color}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="card light-grey-container">
                    <div class="card-body">
                        <p class="card-text thick">0 - 100 km/h</p>
                        <p class="card-text thick">{{carInstance.acceleration}} s</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  mt-2">
            <div class="col-xl-4 col-sm-4">
                <div class="card light-grey-container">
                    <div class="card-body">
                        <p class="card-text thick">{{carInstance.seats}} seats</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-4">
                <div class="card light-grey-container">
                    <div class="card-body">
                        <p class="card-text thick">{{carInstance.transmission}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="card light-grey-container">
                    <div class="card-body">
                        <p class="card-text thick">{{carInstance.consumption}} km/L</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Buttons -->
<div class="row" style="margin-top: 20px;">
    <div class="col" style="margin-right: 0px; margin-left: 10px; padding: 6px;">
        <a class="btn btn-outline-primary btn-block outline-btn thick" (click)="btnGoToList()">Go Back</a>
    </div>
    <div class="col" style="margin-right: 38px; margin-left: 0px; padding: 6px;">
        <a type="submit" class="btn btn-primary btn-block blue-btn thick" (click)="btnGoToBookingDetails()">Rent This Car</a>
    </div>
</div>
    