<div class="card mb-3">
    <div class="card-header">
        <img src="assets/car1.png" class="card-img-top" alt="Car photo">
    </div>
    <div class="card-body">
        <div class="row  mt-2">
            <div class="col-xl-4 col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">v10 5,2L</p>
                        <p class="card-text"><small class="text-muted">300 hp</small></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">AUTOMATIC</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">0 - 100 kph</p>
                        <p class="card-text"><small class="text-muted">3,5 seg</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  mt-2">
            <div class="col-xl-4 col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">2 seats</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">280L Trunk</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">10km/L</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <button class="btn btn-outline-primary btn-lg btn-block">GO BACK</button>
    </div>
    <div class="col-6">
        <button class="btn btn-primary btn-lg btn-lg btn-block">RENT THIS CAR</button>
    </div>
</div>
    