<div>

    <!-- Image and name -->
    <div style="text-align: center; margin-bottom: 40px;">
        <img src="assets/car1.png" alt="Car photo">
        <p class="card-text thick" style="font-size: 22px;">BMW Car - ABC1234</p>
        <p class="card-text thick">$175/day</p>
    </div>

    <!-- Atributes -->
    <div class="card-body" style="padding: 14px;">
        <div class="row  mt-2">
            <div class="col-xl-4 col-sm-4">
                <div class="card light-grey-container" style="height: 110px;">
                    <div class="card-body">
                        <p class="card-text thick">v10 5,2L</p>
                        <p class="card-text thick">300 hp</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="card light-grey-container" style="height: 110px;">
                    <div class="card-body">
                        <p class="card-text thick">280L Trunk</p>
                        <p class="card-text thick">No Frunk</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="card light-grey-container">
                    <div class="card-body">
                        <p class="card-text thick">0 - 100 kph</p>
                        <p class="card-text thick">3,5 seg</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  mt-2">
            <div class="col-xl-4 col-sm-4">
                <div class="card light-grey-container">
                    <div class="card-body">
                        <p class="card-text thick">2 seats</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-4">
                <div class="card light-grey-container">
                    <div class="card-body">
                        <p class="card-text thick">Automatic</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-4">
                <div class="card light-grey-container">
                    <div class="card-body">
                        <p class="card-text thick">10 km/L</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Buttons -->
<div class="row" style="margin-top: 20px;">
    <div class="col" style="margin-right: 0px; margin-left: 10px; padding: 6px;">
        <a type="submit" class="btn btn-outline-primary btn-block outline-btn" href="/list">Go Back</a>
    </div>
    <div class="col" style="margin-right: 38px; margin-left: 0px; padding: 6px;">
        <a type="submit" class="btn btn-primary btn-block blue-btn" href="/booking-details">Rent This Car</a>
    </div>
</div>
    