/* You can add global styles to this file, and also import other style files */
*{
    font-family: Lato;
}

.text-input{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    display: block;
    border: none;
    border-bottom: 1px solid #B7B7B7;
    width: 100%;
}

.light-grey-container{
    background-color: white;
    text-align: center;
    border: 1px solid #B7B7B7;
    border-radius: 10px;
}



.thick{
    font-weight: bold;
}
  
.top-bar-item{
    cursor: pointer;
}

  
.custom-content{
    z-index: 1;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
}
  
.custom-container{
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #3D3D3D;
    background-color: #ffffff;
}

.outline-btn{
    border-color: #003b73;
    color: #003b73;
    margin: 14px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.blue-btn{
    background-color: #003b73;
    border-color: #003b73;
    margin: 14px;
    margin-top: 7px;
    margin-bottom: 7px;
}